<!DOCTYPE html>
<html>
  {% include 'navbar.html' %}
  <head>
    <style>
    body {
      background-color: #000;
      color: #fff;
    }

    h1 {
      font-size: 36px;
      color: #fff;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 18px;
      color: #999;
      margin-bottom: 20px;
    }

    footer {
      margin-top: 20px;
      text-align: center;
      color: #fff;
    }
    </style>
  </head>
  <body>
    <header>
      <h1>Kontakt</h1>
    </header>
    <main>
      <div class="content-wrapper">
        <div class="text-wrapper">
          <p>Aplikacja do zarządzania budżetem domowym to narzędzie, które pomoże Ci kontrolować Twoje wydatki, planować budżet i analizować Twoje finanse.</p>
          <p>Za pomocą tej aplikacji możesz:</p>
          <ul>
            <li>Śledzić swoje dochody i wydatki</li>
            <li>Tworzyć kategorie wydatków i przychodów</li>
            <li>Planować budżet na poszczególne miesiące</li>
            <li>Otrzymywać powiadomienia o ważnych terminach, np. opłatach rachunków</li>
            <li>Generować raporty i wykresy dotyczące Twoich finansów</li>
          </ul>
          <p>Nasz interfejs jest intuicyjny i łatwy w obsłudze, dzięki czemu zarządzanie swoim budżetem stanie się prostsze niż kiedykolwiek wcześniej.</p>
          <p>Zacznij już teraz i zyskaj pełną kontrolę nad swoimi finansami!</p>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Moja Strona. Wszelkie prawa zastrzeżone.</p>
    </footer>
  </body>
</html>
