<!DOCTYPE html>
<html>
  {% include 'navbar.html' %}
<head>
  <title>Kontakt</title>
  <style>
    body {
      background-color: #000;
      color: #fff;
    }

    h1 {
      font-size: 36px;
      color: #fff;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 18px;
      color: #999;
      margin-bottom: 20px;
    }

    footer {
      margin-top: 20px;
      text-align: center;
      color: #fff;
    }
  </style>
</head>
<body>
  <header>
    <h1>Kontakt</h1>
  </header>
  <main>
    <h2>Skontaktuj się z nami</h2>
    <h5>888 999 111</h5>
  </main>
  <footer>
    <p>&copy; 2023 Moja Strona. Wszelkie prawa zastrzeżone.</p>
  </footer>
</body>
</html>
