<!DOCTYPE html>
<html>
  {% include 'navbar.html' %}
<head>
  <title>Polityka prywatności</title>
  <style>
    body {
      background-color: #000;
      color: #fff;
    }

    h1, h2, p {
      color: #fff;
    }

    ul {
      color: #fff;
      list-style-type: disc;
      padding-left: 20px;
    }

    footer {
      color: #fff;
    }
  </style>
</head>
<body>
  <header>
    <h1>Polityka prywatności</h1>
  </header>
  <main>
    <h2>Wprowadzenie</h2>
    <p>W [Twoja Strona] traktujemy Twoją prywatność poważnie. Niniejsza Polityka prywatności wyjaśnia, w jaki sposób zbieramy, używamy i chronimy Twoje dane osobowe podczas korzystania z naszej witryny.</p>
    <h2>Jakie informacje zbieramy</h2>
    <p>Korzystając z naszej witryny, możemy zbierać następujące rodzaje informacji:</p>
    <ul>
      <li>Dane osobowe, takie jak imię, adres e-mail i inne dane kontaktowe, które podajesz, wypełniając formularz lub zakładając konto.</li>
      <li>Informacje o korzystaniu, takie jak adres IP, rodzaj przeglądarki i odwiedzone strony na naszej witrynie.</li>
      <li>Inne informacje, które nam przekazujesz, na przykład gdy wysyłasz nam wiadomość lub nawiązujesz z nami interakcję w mediach społecznościowych.</li>
    </ul>
    <h2>Jak wykorzystujemy Twoje informacje</h2>
    <p>Możemy wykorzystywać Twoje informacje w celach:</p>
    <ul>
      <li>Świadczenia i udoskonalania naszej witryny i usług.</li>
      <li>Odpowiedzi na Twoje zapytania i wiadomości.</li>
      <li>Wysyłania Ci komunikatów marketingowych, jeśli wyraziłeś na to zgodę.</li>
      <li>Spełniania naszych obowiązków prawnych oraz ochrony naszych praw i interesów.</li>
    </ul>
    <h2>Jak chronimy Twoje informacje</h2>
    <p>Podejmujemy odpowiednie środki w celu ochrony Twoich danych osobowych przed nieuprawnionym dostępem, ujawnieniem, zmianą i zniszczeniem. Wykorzystujemy standardowe praktyki i technologie związane z bezpieczeństwem, aby chronić Twoje dane.</p>
    <h2>Twoje prawa</h2>
    <p>Przysługują Ci następujące prawa:</p>
    <ul>
      <li>Dostęp do danych osobowych, jakie posiadamy na Twój temat, oraz otrzymanie ich kopii.</li>
      <li>Żądanie poprawienia lub usunięcia swoich danych osobowych.</li>
      <li>Wniesienie sprzeciwu wobec przetwarzania swoich danych osobowych.</li>
      <li>Wycofanie zgody na wykorzystanie swoich danych osobowych przez nas.</li>
    </ul>
    <h2>Kontakt</h2>
    <p>Jeśli masz jakiekolwiek pytania lub wątpliwości dotyczące niniejszej Polityki prywatności, skontaktuj się z nami pod adresem [Twój adres e-mail kontaktowy].</p>
  </main>
  <footer>
    <p>&copy; 2023 Moja Strona. Wszelkie prawa zastrzeżone.</p>
  </footer>
</body>
</html>
